@use '../variables' as variables;

.fire {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 1;
  user-select: none;
  animation: flicker 0.3s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.8;
    transform: scale(1.1);
  }
}