@use './variables' as variables;

.header-wrapper {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  align-items: center;
  padding: 0 1rem;
  height: 45px;

  .nav-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    top: 45px;
    right: -100%;
    padding: 2rem 4rem;
    background-color: white;
    transition: right 0.3s ease;
    z-index: 1001;

    &.nav-open {
      right: 0;
    }

    .nav-link {
      text-decoration: none;

      &:hover {
        color: red;
      }

      &.active {
        color: green;
        border-bottom: 1px solid green;
      }
    }

    @media (min-width: variables.$breakpoint-sm) {
      position: static;
      flex-direction: row;
      gap: 2rem;
      padding: 0;
    }
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1002;

    @media (min-width: variables.$breakpoint-sm) {
      display: none;
    }

    span {
      width: 30px;
      height: 2px;
      background-color: black;
      border-radius: 3px;
      transition: all 0.3s ease;
    }

    &.hamburger-open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }

  .overlay {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}