.selection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .selections {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: none;

    .selection {
      background-color: lightblue;

      input {
        display: none;
      }
    }
  }


}