$color-primary: #1E3D32;
$color-secondary: #2E5E4E;
$color-accent: #F8DADF;
$color-light: #FBF6ED;

$color-neutral: #A6B6A0;
$color-emphasis: #D94F70;

$color-text: #111827;
$color-text-light: #6b7280;
$color-border: #d1d5db;


// fonts
$font-base: 'Inter', sans-serif;
$font-heading: 'Playfair Display', serif;

$font-size-base: 16px;
$font-size-sm: 0.875rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.5rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;